<form method="POST" action="/user/login">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Submit" style="width:100px;height:20px;">
</form>  