<h1>Please log-in</h1>


<form method="POST" action="/user/login">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Submit" style="width:100px;height:20px;">
</form>  

<blockquote>
"It's so cool to be traveling around the world searching for good waves, meeting people, competing, living from the sport, and doing what you love. It's beautiful. - Jacqueline Silva"</blockquote>