<h1>Surfin Life</h1>
<h4>Please sign up or log in to access the blog</h4>
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>

<blockquote>"I think when a surfer becomes a surfer, it is almost like an obligation to be an environmentalist at the same time." – Kelly Slater</blockquote>

See post from other users
<a href="/users/:id">Other users posts</a>