<h1>Surfin Life</h1>
<h2>A blog for Surfers by Surfers</h2>
<h4>Please sign up or log in to access the blog</h4>
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>

<h2><blockquote>"I think when a surfer becomes a surfer, it is almost like an obligation to be an environmentalist at the same time." – Kelly Slater</blockquote></h2>
