<form method="POST" action="/user/new">
    <input type="text" name="first_name" placeholder="First Name">  
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="birthday" placeholder="Birthday">
    <input type="submit" value="Submit" style="width:100px;height:20px;">
</form>    