<h1>Posts</h1>

<a href="/profile">Back to Profile Page</a></br>
<a href="/postnew/:id">Create Post</a></br>

	

	need to write a loop so it only loops through 20 times
	and write a method and an instance to have another users posts show up.


