<h1>Create Post</h1>
<form action="/post/new" method="Post">
	<label for="post_name">Title:</label> </br>
	<textarea type="text" name="post_name" placeholder="Title">
	</textarea></br>
	<label for="content">Content:</label> </br>
	<textarea name="content" placeholder="Content" rows="20" cols ="80"></textarea> </br>
	<input type="submit" value="Create Post"/>
</form>

