

<h1>You may like these other posts from our users.</h1>
<a href="/profile">Return to post page</a></br>


<% if @posts %>
  <% @posts.each do |post| %>
    <%= post.post_name %>
    <%= post.post_content %>
  <% end %>
<% end %>