

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Public/main.css">
	<title>R-umblr</title>
</head> 
    <body>
        <h1><%=@user.first_name%>, welcome back. I hope the waves were breaking in your favor.</h1>

            <h2><blockquote>
            "We all strive to find something unique and special that we are passionate about that separates us from the rest." - Carissa Moore
            </blockquote></h2></br>
            <a href="/postnew/:id">Create Post</a></br>
            <a href="/login">Log Out</a></br>
            <a href='/user/<%= @user.id %>/edit'>Edit Account</a></br>
            <a href="/:otheruser/posts">Post for other users</a></br>

            <% @posts.each do |post|%>
            <h2>Title: </h2><h3><%= post.post_name%></h3>
            <h2>Article: </h2><h3> <%= post.content%></h2>
<% end%>

<script type="text/javascript" src="/Public/main.js"></script>
</body>
</html>

