


<h1><%=@user.first_name%>, welcome back. I hope the waves were breaking in your favor.</h1>

<blockquote>
"We all strive to find something unique and special that we are passionate about that separates us from the rest." - Carissa Moore</blockquote></br>
<a href="/post/:id">Posts</a></br>
<a href="/postnew">Create Post</a></br>
<a href="/post/edit/">Edit Post</a></br>
<a href="/login">Log Out</a></br>
<a href='/user/<%= @user.id %>/edit'>Edit Account</a>