<form method="POST" action="/user/new">
    <input type="text" name="first_name" placeholder="first_name">  
    <input type="text" name="last_name" placeholder="last_name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="birthday" placeholder="birthday">
    <input type="submit" value="Submit" style="width:100px;height:20px;">
</form>    